.ChildView {
	position: absolute;
	top: 0;
	left: 50%;

	width: 50%;
	height: 100vh;
	overflow-y: auto;
}

.Navbar {
	display: flex;
	align-items: center;
	padding: 0.8rem 0;
	background: var(--middle-tone);
	width: 100%;

	position: fixed;
	top: 0;
	z-index: 999;
}

.Navbar__BackBtn {
	border: none;
	border-radius: 50%;
	margin-right: 0.6rem;
	padding: 0.4rem;
	padding-bottom: 0.2rem;

	background: transparent;
}

.Navbar__BackBtn:hover {
	cursor: pointer;
	background-color: var(--dark-tone);
}

.Navbar__BackBtn:focus,
.Navbar__BackBtn:active {
	color: var(--primary);
}

.Navbar__BackBtn:active {
	box-shadow: var(--inset-pneumo-box-shadow);
}

.Navbar__Text {
	font-weight: 550;
	text-transform: capitalize;
}

.ChildView__View {
	margin-top: 3rem;
}